@use "../../../styles/variable" as v;

.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: v.$primary-color;
  gap: 1rem;
  background-image: url("../../../assets/city.jpg");
  background-size: cover;
  background-position: center;
}
.header-title {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-style: Regular;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.header-text {
  font-family: Open Sans;
  font-weight: 500;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
