@use "../../styles/variable" as v;

.booking-section {
  background-color: v.$third-bg-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 50px 20px;

  .booking-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;

    .form-wrapper {
      background: v.$bookingForm-bg-color;
      padding: 40px;
      border-radius: 30px;
      flex: 1;
      min-width: 350px;
      max-width: 700px;

      .form-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: bold;
        color: #333;
      }

      .ant-form-item-label > label {
        font-weight: 600;
        color: #444;
      }

      .ant-input,
      .ant-picker {
        border-radius: 10px;
        height: 45px;
        padding: 20px;
        border: none;
      }
      .ant-select-selector {
        border-radius: 10px;
        height: 45px;
        border: none;
        display: flex;
        align-items: center;
        padding: 20px;
      }
      .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .booking-btn {
          background-color: v.$secondary-color;
          border: none;
          height: 50px;
          padding: 0 60px;
          border-radius: 25px;
          font-weight: bold;
          font-size: 18px;
          box-shadow: 0 4px 15px rgba(255, 140, 0, 0.3);

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 20px rgba(255, 140, 0, 0.4);
          }
        }
      }
    }

    .bike-img-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      min-width: 350px;

      .bike-image {
        width: 100%;
        max-width: 650px;
        height: auto;
        object-fit: contain;
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
      }
    }
  }
}

@media (max-width: 992px) {
  .booking-container {
    flex-direction: column-reverse;
    text-align: center;
  }
}
