@use "../../styles/variable" as v;

.aboutCompany-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 80px 10%;
  box-sizing: border-box;
  width: 100%;

  .aboutCompany-imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      width: 450px;
      height: auto;
      object-fit: contain;
      border-radius: 20px;
    }
  }

  .aboutCompany-content {
    display: flex;
    flex-direction: column;
    flex: 1.2;
    gap: 20px;

    .aboutCompany-subtitle {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #333;
    }

    .aboutCompany-title {
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: clamp(24px, 4vw, 32px);
      line-height: 1.2;
    }

    .aboutCompany-text {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 1.6;
      color: #555;
    }

    .aboutCompany-statsGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 20px;
      gap: 15px;

      .aboutCompany-statItem {
        .aboutCompany-num {
          color: v.$secondary-color;
          font-weight: 700;
          font-size: 28px;
          line-height: 1;
        }

        .aboutCompany-label {
          white-space: pre-line;

          font-size: 14px;
          color: #666;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutCompany-container {
    gap: 30px;
    padding: 60px 5%;
  }
}

@media (max-width: 768px) {
  .aboutCompany-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;

    .aboutCompany-imageWrapper {
      width: 100%;
      img {
        width: 100%;
        max-width: 400px;
      }
    }

    .aboutCompany-content {
      width: 100%;

      .aboutCompany-statsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
      }
    }
  }
}
